@import "../utils/utils.scss";
@import "./auth/auth.scss";
@import "../components/buttons/button.scss";
@import "../components/fields/fields.scss";
@import "../pages/profile/profile.scss";
@import "../components//chats/chat.scss";
@import "../pages/chats/chats.scss";
body {
  background-color: $primary-color;
  font-family: $font-main;
  padding: 0;
  margin: 0;
}
.container {
  width: 1170px;
  margin: auto;
  text-align: center;
  margin-top: 20%;
  color: white;
  h2 {
    font-size: 55px;
    margin-bottom: 2rem;
  }
  p {
    font-size: 24px;
    color: $border;
    margin: 2rem;
  }
  .link-auth {
    font-size: 16px;
  }
}
