aside {
  background: $third-color;
  color: white;
  width: 350px;
  height: 100%;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0;
    h1 {
      font-weight: bold;
      font-size: 30px;
    }
    img {
      background-color: $text-secondary;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .search-input {
    width: 320px;
    background: $primary-color;
    border: none;
    height: 45px;
    font-size: 17px;
    color: $text-secondary;
    margin: 5px 15px 0;
    border-radius: 5px;
    text-align: center;
  }
}
