$primary-color: #131517;
$secondary-color: #176acb;
$third-color: #212329;
$overlay-color: #2c3850;
$text-secondary: #e0e0e0;
$border: #cecece;
$font-main: "Inter", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
